body{
    box-sizing: content-box;
    background-image: url('/src/Background.png');
    background-position: center;
    background-color: #000000;   
}

#menu {
    background: none;
    color: #FFF;
    height: 40px;
    padding-left: 18px;
    /* border-radius: 42px; */
    /* border: 2px solid #000000; */
    border: none;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    

}

#menu ul {
    width: 100%;
    
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu a {
    display: block;
    line-height: 36px;
    padding: 0 14px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 18px;
    /* text-transform: capitalize; */
}

#menu a.dropdown-arrow:after {
    content: "\002B";
    margin-left: 5px;
}

#menu li a:hover {
    color: #0099CC;
    background: #F2F2F2;
}

#menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

@media screen and (max-width: 800px) {
    #menu {
        position: relative;        
    }
    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }
    #menu li {
        display: block;
        float: none;
        width: auto;
    }
}

.card {
    width: 250px;
    height: 300px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 30px;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* -webkit-perspective: 1000; */
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
    
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    align-content: center;
    padding: 10px;
    box-shadow: #000000 5px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    
}

.card .front {
    background: gray;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    text-align: center;
    
}

.card .back {
    background: #000000;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    
}

.card:hover .front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.card:hover .back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.image-character{
    width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -moz-box-shadow: 5px 5px 5px rgb(0, 0, 0);
    
}

ul{
    list-style: none;
    padding: 15px;
    line-height: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: large;
    text-align: center;

}

.card-section{
    width: 100%;
    height: 100%;
    text-align: center;

}


/* .top-page{
    width: 100%;
    height: auto;
} */


    #image-header{
        border: none;
        width: 1250px;
        height: 300px;
    }

.text-about{
    color: #ffffff;
}
.news-section{
    color: #ffffff;
}