body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-image: url('https://media.istockphoto.com/vectors/starry-seamless-pattern-splashed-hand-draw-universe-and-galaxy-dots-vector-id904278506?k=6&m=904278506&s=170667a&w=0&h=tBQyNVBnD8daizFDCVmUy-B6H3eiyBAKa7Atpe4ooPs=');
    background-color: #000000; 
    
}
.top-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
    color: #FFF;
    height: 40px;
    border: none;
    margin-top: 40px;
    margin-bottom: 50px;
}
#menu ul{
    list-style: none;
}
#menu li {
    float: left;
}
#menu a {
    padding: 0 14px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}
#menu li a:hover {
    color: #36a02c;
}
.site-name{
    flex: 1 2 100%;
    /* border: none; */
    margin-top: 50px;
}
.image-name{
    width: 100%;
}
@media screen and (max-width: 600px) {
    #menu {
        position: relative; 
        justify-content: center;
    }
    #menu ul {
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-shrink: 0;
    }
    #menu li {
    display: inline-block;
    float: none;
    width: auto;
    }
    .top-page{
        width: 100%;
    }
    .site-name{
        width: 100%;
    }
}
.section-filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.search-filter, 
.status-filter, 
.gender-filter, 
.species-filter, 
.origin-filter, 
.location-filter,
.sort-filter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    color:black;
    height: 35px;
    border-style: solid;
    background-color: rgb(88, 165, 238);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -moz-box-shadow: 3px 3px 3px rgb(255, 255, 255);
    margin-top: 50px;
}
@media (max-width: 600px){
    .section-filters{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .search-filter, 
    .status-filter, 
    .gender-filter, 
    .species-filter, 
    .origin-filter, 
    .location-filter,
    .sort-filter {
        margin-top: 10px;
    }
    .search-filter{
        width: 100vw;
    }
}
.card {
    width: 250px;
    height: 300px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 30px;
    align-items: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    align-content: center;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    
}
.card .front {
    background: rgb(88, 165, 238);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    text-align: center;
    
}
.card .back {
    background: #031649;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    
}
.card:hover .front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.card:hover .back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.image-character{
    width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -moz-box-shadow: 5px 5px 5px rgb(0, 0, 0);
    
}
ul{
    list-style: none;
    padding: 15px;
    line-height: 26px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: large;
    text-align: center;
}
.card-section{
    width: 100%;
    height: 100%;
    text-align: center;

}
.episode-list{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
}
.epi-card {
    width: 700px;
    height: 280px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 30px;
    align-items: center;
}
.epi-front,
.epi-back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    /* align-content: center; */
    padding: 10px;
    box-shadow: #000000 5px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    
}
.epi-card .epi-front {
    background:  rgb(88, 165, 238);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}
.epi-card .epi-back {
    background:#031649;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}
.epi-card:hover .epi-front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.epi-card:hover .epi-back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
@media (max-width: 600px){
    .epi-card{
        height: 410px;
    }
    .epi-card .epi-front {
        flex-direction: column;
    }
}
p{
    padding: 15px;
    line-height: 25px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: justify;
}
@media (max-width: 600px){
    p{
        line-height: 20px;
    }
}
.site-footer{
    background-color: #36a02c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    margin-top: 150px;
    padding: 50px;
}
.season-filter{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    
}
#seasonFilter{
    height: 35px;
    font-size: medium;
    font-weight: bold;
    color:black;
    height: 35px;
    border-style: solid;
    background-color: rgb(88, 165, 238);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -moz-box-shadow: 3px 3px 3px rgb(255, 255, 255);
}
.curiosity-section{
    display: flex;
    justify-content: center;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.87);
}
#curiosity-title, 
#curiosity-paragraph{
    font-size: 20px;
}
.text-home{
    width: 100vw;
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.87);
}
.text-about{
    width: 80vw;
}
.mobile-text{
    display: none;
}
@media (max-width: 600px){
    .pc-text{
        display:none
    }
    .mobile-text{
        display:block;
    }
}