body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-image: url('https://media.istockphoto.com/vectors/starry-seamless-pattern-splashed-hand-draw-universe-and-galaxy-dots-vector-id904278506?k=6&m=904278506&s=170667a&w=0&h=tBQyNVBnD8daizFDCVmUy-B6H3eiyBAKa7Atpe4ooPs=');
    background-color: #000000;   
}

.top-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu {
    background: none;
    color: #FFF;
    height: 40px;
    padding-left: 18px;
    /* border-radius: 42px; */
    /* border: 2px solid #000000; */
    border: none;
    margin-top: 40px;
    margin-bottom: 50px;
}

#menu ul,
#menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    

}

#menu ul {
    width: 100%;
    
}

#menu li {
    float: left;
    display: inline;
    position: relative;
}

#menu a {
    display: block;
    line-height: 36px;
    padding: 0 14px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    /* text-transform: capitalize; */
}

/* #menu a.dropdown-arrow:after {
    content: "\002B";
    margin-left: 5px;
} */

#menu li a:hover {
    color: #36a02c;
    /* background: #F2F2F2; */
}

/* #menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    opacity: 0;
    cursor: pointer
} */

/* @media screen and (max-width: 800px) {
    #menu {
        position: relative;        
    }
    #menu ul {
        background: #111;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 3;
        height: auto;
        display: none
    }
    /* #menu li {
        display: block;
        float: none;
        width: auto;
    } */


.site-name{
    flex: 0 1 100%;
    border: none;
    margin-top: 50px;
    
    
}

.section-filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 600px) {
    .section-filters{
        flex-direction: column;
        
    }
}

.search-filter, 
.status-filter, 
.gender-filter, 
.species-filter, 
.origin-filter, 
.location-filter,
.sort-filter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
    color:black;
    height: 35px;
    border-style: solid;
    background-color: rgb(88, 165, 238);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -moz-box-shadow: 3px 3px 3px rgb(255, 255, 255);
    margin-top: 50px;
}

@media (max-width: 600px){
    .search-filter, 
.status-filter, 
.gender-filter, 
.species-filter, 
.origin-filter, 
.location-filter,
.sort-filter {
    margin-top: 10px;
}
}

.card {
    width: 250px;
    height: 300px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 30px;
    align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* -webkit-perspective: 1000; */
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
    margin-top: 40px;
    margin-bottom: 50px;
    
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    align-content: center;
    padding: 10px;
    /* box-shadow: #000000 5px; */
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    
}

.card .front {
    background: rgb(88, 165, 238);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    text-align: center;
    
}

.card .back {
    background: #031649;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    
}

.card:hover .front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.card:hover .back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.image-character{
    width: 200px;
    height: 200px;
    align-self: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 5px 5px 5px rgb(0, 0, 0);
    -moz-box-shadow: 5px 5px 5px rgb(0, 0, 0);
    
}

ul{
    list-style: none;
    padding: 15px;
    line-height: 30px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: large;
    text-align: center;

}

.card-section{
    width: 100%;
    height: 100%;
    text-align: center;

}

/* .text-about{
    color: #ffffff;
}
.news-section{
    color: #ffffff;
} */
.episode-list{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* -webkit-perspective: 1000; */
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
}

.epi-card {
    width: 700px;
    height: 280px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 30px;
    align-items: center;
}


.epi-front,
.epi-back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    /* align-content: center; */
    padding: 10px;
    box-shadow: #000000 5px;
    box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    -moz-box-shadow: 5px 5px 5px rgb(255, 255, 255);
    
}

.epi-card .epi-front {
    background:  rgb(88, 165, 238);
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}

.epi-card .epi-back {
    background:#031649;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

.epi-card:hover .epi-front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.epi-card:hover .epi-back {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

p{
    padding: 15px;
    line-height: 25px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: justify;
}

.site-footer{
    background-color: #36a02c;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    margin-top: 150px;
    padding: 50px;
}

.season-filter{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    
}
#seasonFilter{
    width: 20vw;
    height: 35px;
    font-size: medium;
    font-weight: bold;
    color:black;
    height: 35px;
    border-style: solid;
    background-color: rgb(88, 165, 238);
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 3px rgb(255, 255, 255);
    -moz-box-shadow: 3px 3px 3px rgb(255, 255, 255);
}



.curiosity-section{
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.562);
}
#curiosity-title, 
#curiosity-paragraph{
    font-size: 20px;
}
.text-home{
    /* width: 100vw; */
    height: 100vh;
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.562);
}
.text-about{
    width: 70vw;
}